<!-- default -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Node compiler</title>

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet">

<!-- relative files -->
<link rel="stylesheet" href="/styles/base.css">

<!-- code mirror -->

<script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
<script type="text/javascript" src="/codemirror/addon/sublime.js"></script>

<!-- code mirror theme support -->

<link rel="stylesheet" href="/codemirror/theme/dracula.css">
<link rel="stylesheet" href="/codemirror/theme/seti.css">
<link rel="stylesheet" href="/codemirror/theme/monokai.css">
<link rel="stylesheet" href="/codemirror/theme/duotone-light.css">

<!-- code mirror addons -->
<script type="text/javascript" src="/codemirror/addon/closebrackets.js"></script>
<script type="text/javascript" src="/codemirror/addon/active-line.js"></script>

<!-- for search -->

<script type="text/javascript" src="/codemirror/addon/jump-to-line.js"></script>
<link rel="stylesheet" href="/codemirror/addon/matchesonscrollbar.css">
<script type="text/javascript" src="/codemirror/addon/matchesonscrollbar.js"></script>
<script type="text/javascript" src="/codemirror/addon/search.js"></script>
<script type="text/javascript" src="/codemirror/addon/searchcursor.js"></script>
<script type="text/javascript" src="/codemirror/addon/match-highlighter.js"></script>

<!-- auto scroll -->

<script type="text/javascript" src="/codemirror/addon/annotatescrollbar.js"></script>
<script type="text/javascript" src="/codemirror/addon/scrollpastend.js"></script>
<link rel="stylesheet" href="/codemirror/addon/simplescrollbars.css">
<script type="text/javascript" src="/codemirror/addon/simplescrollbars.js"></script>

<!-- commments -->

<script type="text/javascript" src="/codemirror/addon/continuecomment.js"></script>
<script type="text/javascript" src="/codemirror/addon/comment.js"></script>

<!-- dailog -->
<script type="text/javascript" src="/codemirror/addon/dialog.js"></script>
<link rel="stylesheet" href="/codemirror/addon/dialog.css">




<!-- show hints -->
<script type="text/javascript" src="/codemirror/addon/show-hint.js"></script>
<script type="text/javascript" src="/codemirror/addon/anyword-hint.js"></script>
<link rel="stylesheet" href="/codemirror/addon/show-hint.css">

<!-- code mirror language mode -->

<script type="text/javascript" src="/codemirror/mode/python.js"></script>
<script type="text/javascript" src="/codemirror/mode/clike.js"></script>

<!-- icons  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">