<!-- default -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Node compiler</title>

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap" rel="stylesheet">

<!-- relative files -->
<link rel="stylesheet" href="/styles/base.css">

<!-- code mirror -->

<script type="text/javascript" src="/codemirror-5.65.16/lib/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror-5.65.16/lib/codemirror.css">

<!-- code mirror theme support -->

<link rel="stylesheet" href="/codemirror-5.65.16/theme/dracula.css">
<link rel="stylesheet" href="/codemirror-5.65.16/theme/seti.css">
<link rel="stylesheet" href="/codemirror-5.65.16/theme/monokai.css">
<link rel="stylesheet" href="/codemirror-5.65.16/theme/duotone-light.css">

<!-- code mirror addons -->
<script type="text/javascript" src="/codemirror-5.65.16/addon/edit/closebrackets.js"></script>
<script type="text/javascript" src="/codemirror-5.65.16/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="/codemirror-5.65.16/addon/hint/anyword-hint.js"></script>
<link rel="stylesheet" href="/codemirror-5.65.16/addon/hint/show-hint.css">

<!-- code mirror language mode -->

<script type="text/javascript" src="/codemirror-5.65.16/mode/python/python.js"></script>
<script type="text/javascript" src="/codemirror-5.65.16/mode/clike/clike.js"></script>

<!-- icons  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">