<nav id="navbar">

    <img src="./img/navlogo.jpg" alt="">


    <select name="lang-sel" id="lang_type">
        <option value="python">python</option>
        <option value="c_cpp">c/c++</option>
    </select>

    <select name="theme-sel" id="theme-type">
        <option value="dracula">dracula</option>
        <option value="seti">seti</option>
        <option value="monokai">monokai</option>
        <option value="duotone-light">duo-light</option>
    </select>
    <button>output terminal</button>
    <button>input terminal</button>
    <button>run</button>


</nav>