<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head') %>
</head>

<body>
    <header>
        <%- include('./partials/_navbar') %>
    </header>
    <main>

        <div id="editor-box">

            <textarea id="editor"></textarea>
        </div>


        <div id="terminals-box">

            <button><i class="bi bi-terminal-x"></i></button>
            <div>
                <textarea spellcheck="false" id="output"></textarea>
                <textarea spellcheck="false" id="input"></textarea>
            </div>

        </div>

        <div id="settings-box">
            
        </div>

    </main>

   

    <script type="text/javascript" src="/javascripts/code_editor.js"></script>
</body>

</html>