<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head') %>
</head>

<body>
    <header>
        <%- include('./partials/_navbar') %>
        
    </header>
    <main>

        <div id="editor-box">

            <textarea id="editor"></textarea>
        </div>


        <div id="popup-terminals">
            <button onclick="popup_onoff('input-box')" id="input_btn" class="round-btns"><i
                    class="bi bi-terminal-plus"></i></button>

            <button onclick="popup_onoff('popup-terminals')" class="round-btns close-btn"><i
                    class="bi bi-x-lg"></i></button>
            <div>
                <div id="output-box">

                    <h3>Output terminal</h3>
                    <textarea spellcheck="false" class="terminal" id="output"></textarea>
                </div>

                <div id="input-box">
                    <h3>input terminal</h3>
                    <textarea spellcheck="false" class="terminal" id="input"></textarea>

                </div>
            </div>

        </div>

        <div id="popup-settings">

            <h3>Settings Pannel</h3>


            <div class="pannel-settings">

                <label for="lang_type">Editor mode</label>
                <select name="lang-sel" id="lang_type">
                    <option value="python">python</option>
                    <option value="c_cpp">c/c++</option>
                </select>
                <label for="theme-type">Editor theme</label>
                <select name="theme-sel" id="theme-type">
                    <option value="seti">seti</option>
                    <option value="dracula">dracula</option>
                    <option value="monokai">monokai</option>
                    <option value="duotone-light">duo-light</option>
                </select>

                <label for="editor-fonts">Font size</label>
                <select name="editorfonts" id="editor-fonts">
                    <option value="o">optimal</option>
                    <option value="s">small</option>
                    <option value="n">normal</option>
                    <option value="m">medium</option>
                    <option value="h">high</option>

                </select>

                <button id="apply_settings"><i class="bi bi-check-lg"></i> apply settings</button>

            </div>



        </div>

        <div id="popup-infobox">
            <button class="round-btns close-btn" onclick="popup_onoff('popup-infobox')"><i class="bi bi-x-lg"></i></button>
            <p>
                
            </p>

        </div>

    </main>






    <script type="text/javascript" src="/javascripts/code_editor.js"></script>
</body>

</html>