* {
    padding: 0;
    margin: 0;
}

:root {
    --ui-main: rgb(23, 23, 23);
    --ui-fonts-clr: white;
    --ui-buttons-clr: white;
    --ui-buttons-fonts: black;
}


/* navbar css */


#navbar {
    font-family: 'Poppins', sans-serif;
    padding: 1vh 2vw;
    background-color: rgb(35, 178, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar>img {
    height: 3.8rem;
    margin-right: auto;
}

#navbar>button {
    margin-left: 1vw;
    font-size: 1.6rem;
    border-radius: 100%;
    padding: .4rem .6rem;
    border: none;
    background-color: white;

}

#navbar>button:active {
    background-color: aqua;
}


#navbar>select {
    margin-left: 2vw;
    border-radius: 10px;
    padding: .2rem .6rem;
}



/* terminals */
#terminals-box {

    display: none;

    position: absolute;
    width: 70%;
    background-color: red;
    top: 10vw;
    left: 15vw;
}

#terminals-box>div {
    
    background-color: blue;
    display: flex;
    flex-direction: column;
}

#terminals-box #output {
    box-sizing: border-box;
    background-color: rgb(172, 255, 134);
    resize: none;
    height: 15vw;
    width: 100%;
}

#terminals-box #input {
    background-color: rgb(255, 178, 89);
    box-sizing: border-box;
    resize: none;
    height: 15vw;
    width: 100%;
}


/* editor */

#editor-box{
    box-sizing: border-box;
    display: flex;
    height: 88.5svh;
    width: 100%;
    flex-direction: column;
}
.CodeMirror {
    padding-top: 1.5vw;

    flex: 1;
    height: 90svh;
    /* box-sizing: border-box; */
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.4rem;
}


#settings-box{
    background-color: rebeccapurple;
}