.CodeMirror-hints {

  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: .2rem;

  /* -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid silver; */

  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(39, 39, 39, 0.6);
  border: 1px solid rgba(91, 91, 91, 0.3);

  font-family: var(--fonts-2);
  color: var(--ui-fonts-clr);
  border-radius: var(--radius-10);
  /* background: white; */
  font-size: 90%;
  /* font-family: monospace; */

  max-height: 20em;
  overflow-y: auto;
  box-sizing: border-box;
}

.CodeMirror-hint {
  border-radius: var(--radius-10);
  font-size: 1rem;
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: var(--ui-fonts-clr);
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background-color: rgb(191, 191, 191);
  color: rgb(0, 0, 0);
}